body {
    font-family: Arial;

}

.fancy-header {
    color: #8000ff; /* single line comment */
    text-decoration: underline;
}


.section-header {
    color:blue;
}

h1.fancy-header {
    text-align: center;
}
/*Why use rgb to define a CSS color vs. a hex value?*/

